
        <div class="card animated pulse">


    
            <div class="card-header bg-default lighten-1 white-text">
                    Authentification 
                </div>
                <div class="card-body">
                        <div class="row"> 
            <div class='col'>

                <div class='row' >
                
                        
                   
                                <div class="btn btn-default btn-rounded mt-0 waves-effect waves-light"
                                

                                >
                                    <h2 class="white-text">
                                            <i class="fa fa-key fa-5x white-text" aria-hidden="true"></i>
                                        
                                        Authentification</h2>
                                </div>
                            
                    
                   
                </div>  
                            
                <div class='row ml-2 mr-2' >

                    
                    <ul class="list-group">
                            <i class="fa fa-comment orange-text fa-2x" aria-hidden="true"> </i> 
                    
                    <li class="list-item" class="orange-text pl-1 ">
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                        {{message}}</li>
                </ul>
                </div> 
                       

            </div>
      
          
                    <div class='col'> <form>
                            <div class="card">
                                    <div class="card-header bg-default lighten-2 white-text">
                                            Compte 
                                        </div>
                                        <div class="card-body">

  <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" name="pseudo" id="pseudo" class="form-control" mdbActive>
      <label for="defaultForm-email">Pseudo</label>
  </div>

  <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" id="password" name="password" class="form-control" mdbActive>
      <label for="defaultForm-pass">password</label>
  </div>

  <div class="text-center">
      <button class="btn btn-deep-orange waves-light" mdbRippleRadius>se connecter </button>
      <button class="btn btn-deep-orange waves-light" mdbRippleRadius
      routerLink="/inscription"
      >s'enregister</button>
  </div>
</div></div>
</form></div>

</div>
</div>
</div>

