
<section class="animated lightSpeedIn">
        <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="col">
    
            <!--Naked Form-->
            <div class="card-body">
          
                   
                    
                <!--Body-->
                
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" ngControl="username" #username name="username" id="username" required ngModel class="form-control" mdbActive>
                    <label for="contactForm-name">Your username</label>
                </div>
          
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" ngControl="password"  #password id="password" name="password" ngModel required class="form-control" mdbActive>
                    <label for="contactForm-email">Your email</label>
                </div>
      
          
              
                <div *ngIf='isloginerror' >

                    
                        <ul  class="list-group">
                               
                        
                        <li  class="list-item" class=" pl-1 ">
                                <i class="fa fa-comment fa-2x" aria-hidden="true"></i> 
                            <small class="old">{{message}}</small></li>
                    </ul>
                    </div>
                    <div class="text-center">
                            <button type="submit" class="btn btn-submit cyan waves-effect waves-light" mdbRippleRadius>se connecter </button>
                            <button class="btn cyan waves-effect waves-light" mdbRippleRadius
                            routerLink="/inscription"
                            >s'enregister</button>
                        </div>
          
            </div>
            <!--Naked Form-->
          
          </div>
       </form>
    </section>
    