
<section class="animated lightSpeedIn">

    <div class="col">

        <!--Naked Form-->
        <div class="card-body">
      
        
      
            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input id="contactForm-name" class="form-control" type="text">
                <label for="contactForm-name">Your name</label>
            </div>
      
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input id="contactForm-email" class="form-control" type="text">
                <label for="contactForm-email">Your email</label>
            </div>
      
            <div class="md-form">
                <i class="fa fa-tag prefix grey-text"></i>
                <input id="contactForm-subj" class="form-control" type="text">
                <label for="contactForm-subj">Subject</label>
            </div>
      
            <div class="md-form">
                <i class="fa fa-pencil prefix grey-text"></i>
                <textarea type="text" id="contactForm-mess" class="md-textarea"></textarea>
                <label for="contactForm-mess">Icon Prefix</label>
            </div>
      
            <div class="text-center">
                <button class="btn btn-default waves-effect waves-light">Submit</button>
      
                <div class="call">
                    <br>
                    <p>Or would you prefer to call?
                        <br>
                        <span>
                            <i class="fa fa-phone"> </i>
                        </span> + 01 234 565 280</p>
                </div>
            </div>
      
        </div>
        <!--Naked Form-->
      
      </div>
</section>
