
<section class="animated fadeIn">

  <!--Section heading-->


  <div class="card animated pulse">
      <div class="card-header silver  lighten-1 teal-text">
    Ce site vise a ameliorer la qualité des développeurs et en particuler les étudiants en présentant 
          un environnement d'apprentissage adéquat
      </div>
      <div class="card-body">
  <!--Section description-->

 
 

  <!--Grid row-->
  <div class="row pt-2">

      <!--Grid column-->
      <div class="col-lg-7 ">
          <img src="assets/images/learning.png" alt="" class="img-fluid z-depth-0">
      </div>
  

      <!--Grid column-->
      <div class="col-lg-4">

          <!--Grid row-->
          <div class="row pb-3">
              
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 teal-text">
                      <div class="col-2 col-md-1">
                          <i class="fa fa-2x fa-bank" aria-hidden="true"></i>
                      </div>
                    Pédagogique</h5>
                  <p class="grey-text text-left small">
                    equipe professionnelle d'industrielle et enseignants
                      .</p>
              </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
             
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 teal-text">
                      <div class="col-2 col-md-1">
                          <i class="fa fa-2x fa-video-camera" aria-hidden="true"></i>
                      </div>
                    multimedia</h5>
                  <p class="grey-text text-left small">contenu multimédia : text , vidéo , présentation .....</p>
              </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
         
              <div class="col-10">
                  <h5 class="font-weight-bold text-left mb-3 teal-text">
                      <div class="col-2 col-md-1">
                          <i class="fa fa-2x fa-android" aria-hidden="true"></i>
                                                                
                          </div>
                    
                    Responsive</h5>
                  <p class="grey-text text-left small">contenu accessible via pc ou mobile .</p>
              </div>
          </div>
          <!--Grid row-->

      </div>

      <!--Grid column-->
    

  </div>

  <!--Grid row-->
</div></div>
</section>
